AM_Common/*.lnk
AM_Common/_Unused
AM_Common/ActiveMQ
AM_Common/AM_Shared.dll
AM_Common/AnalysisManager*PlugIn.dll
AM_Common/AnalysisManagerPBFGenerator.dll
AM_Common/AnalysisManagerProg.exe
AM_Common/Ape_Decompiled.dll
AM_Common/AScore
AM_Common/DeconEngine_200*
AM_Common/DeconMSn_200*
AM_Common/DTASpectraFileGen.dll
AM_Common/MSGFResultsSummarizer.dll
AM_Common/MSMSSpectrumFilterAM.dll
AM_Common/Old
AM_Common/PHRP
AM_Common/PRISM.dll
AM_Common/PRISM.XML
AM_Common/PRISMWin.dll
AM_Common/SQLite_1.0.97/*
AM_Common/System.Data.SQLite.dll
AM_Common/UIMFLibrary.dll
AM_Common/x64/SQLite.Interop.dll
AM_Common/x86/SQLite.Interop.dll
AM_Program/Legacy
AM_Program/packages/
Plugins/_Trash
Plugins/AM_Bruker_DA_Export/Documents
Plugins/AM_MaxQuant_PlugIn
Plugins/AM_QC-ART_PlugIn/Docs/Old
Plugins/AM_QC-ART_PlugIn/Docs/QC-ART
32Bit_2015-05-08
*.zip
cloc*.pl
CachedLibs/
/AM_Common/DotNetZip.dll
/AM_Common/DynamicInterop.dll
/AM_Common/log4net.dll
/AM_Common/RDotNet.dll
/AM_Common/RDotNet.NativeLibrary.dll
/AM_Common/Renci.SshNet.dll
**/.vs/
