<?xml version="1.0" encoding="utf-8"?>
<applicationSettings>
  <setting name="MgrCnfgDbConnectStr" serializeAs="String">
    <value>Data Source=cbdms;Initial Catalog=Manager_Control;Integrated Security=SSPI;Encrypt=False</value>
  </setting>
  <setting name="DefaultDMSConnString" serializeAs="String">
    <value>Data Source=cbdms;Initial Catalog=DMS5;Integrated Security=SSPI;Encrypt=False</value>
  </setting>
  <setting name="SchemaPrefix.DMS" serializeAs="String">
    <value>DMS5.dbo</value>
  </setting>
  <setting name="SchemaPrefix.DMSPipeline" serializeAs="String">
    <value>DMS_Pipeline.dbo</value>
  </setting>
  <setting name="SchemaPrefix.DMSCapture" serializeAs="String">
    <value>DMS_Capture.dbo</value>
  </setting>
  <setting name="SchemaPrefix.DMSDataPackage" serializeAs="String">
    <value>DMS_Data_Package.dbo</value>
  </setting>
  <setting name="SchemaPrefix.ManagerControl" serializeAs="String">
    <value>Manager_Control.dbo</value>
  </setting>
  <setting name="SchemaPrefix.ProteinCollection" serializeAs="String">
    <value>Protein_Sequences.dbo</value>
  </setting>
  <setting name="SchemaPrefix.Ontology" serializeAs="String">
    <value>Ontology_Lookup.dbo</value>
  </setting>
</applicationSettings>
