<?xml version="1.0" encoding="utf-8"?>
<applicationSettings>
  <setting name="MgrCnfgDbConnectStr" serializeAs="String">
    <!-- Password will be read from the .pgpass file at c:\users\svc-dms\AppData\Roaming\postgresql\pgpass.conf (or similar) -->
    <!-- <value>Host=prismdb1;Port=5432;Database=dms;UserId=d3l243;</value> -->
    <value>Data Source=cbdms;Initial Catalog=Manager_Control;Integrated Security=SSPI;Encrypt=False</value>
  </setting>
  <setting name="DefaultDMSConnString" serializeAs="String">
    <value>Data Source=cbdms;Initial Catalog=DMS5;Integrated Security=SSPI;Encrypt=False</value>
  </setting>
  <setting name="MgrActive_Local" serializeAs="String">
    <value>True</value>
  </setting>
  <setting name="MgrName" serializeAs="String">
    <value>CBDMS_Analysis-1</value>
  </setting>
  <setting name="UsingDefaults" serializeAs="String">
    <value>False</value>
  </setting>
</applicationSettings>