<?xml version="1.0" encoding="utf-8"?>
<applicationSettings>
  <setting name="MgrCnfgDbConnectStr" serializeAs="String">
    <!-- Password will be read from the .pgpass file at c:\users\svc-dms\AppData\Roaming\postgresql\pgpass.conf (or similar) -->
     <value>Host=prismdb2.emsl.pnl.gov;Port=5432;Database=dms;UserId=svc-dms</value>
<!-- <value>Data Source=proteinseqs;Initial Catalog=Manager_Control;Integrated Security=SSPI</value> -->
  </setting>
  <setting name="DefaultDMSConnString" serializeAs="String">
    <value>Data Source=gigasax;Initial Catalog=DMS5;Integrated Security=SSPI</value>
  </setting>
  <setting name="SchemaPrefix.DMS" serializeAs="String">
    <value>DMS5.dbo</value>
  </setting>
  <setting name="SchemaPrefix.DMSPipeline" serializeAs="String">
    <value>DMS_Pipeline.dbo</value>
  </setting>
  <setting name="SchemaPrefix.DMSCapture" serializeAs="String">
    <value>DMS_Capture.dbo</value>
  </setting>
  <setting name="SchemaPrefix.DMSDataPackage" serializeAs="String">
    <value>DMS_Data_Package.dbo</value>
  </setting>
  <setting name="SchemaPrefix.ManagerControl" serializeAs="String">
    <value>mc</value>
  </setting>
  <setting name="SchemaPrefix.ProteinCollection" serializeAs="String">
    <value>Protein_Sequences.dbo</value>
  </setting>
  <setting name="SchemaPrefix.Ontology" serializeAs="String">
    <value>Ontology_Lookup.dbo</value>
  </setting>
</applicationSettings>
