<?xml version="1.0" encoding="utf-8"?>
<applicationSettings>
  <setting name="MgrCnfgDbConnectStr" serializeAs="String">
    <value>Data Source=proteinseqs;Initial Catalog=Manager_Control;Integrated Security=SSPI</value>
  </setting>
  <setting name="DefaultDMSConnString" serializeAs="String">
    <value>Data Source=gigasax;Initial Catalog=DMS5;Integrated Security=SSPI</value>
  </setting>
</applicationSettings>
