<?xml version="1.0" encoding="utf-8"?>
<applicationSettings>
  <setting name="MgrCnfgDbConnectStr" serializeAs="String">
    <!-- Password will be read from the .pgpass file at c:\users\svc-dms\AppData\Roaming\postgresql\pgpass.conf (or similar) -->
    <value>Host=prismdb2.emsl.pnl.gov;Port=5432;Database=dms;UserId=svc-dms</value>
  </setting>
  <setting name="DefaultDMSConnString" serializeAs="String">
    <value>Host=prismdb2.emsl.pnl.gov;Port=5432;Database=dms;UserId=svc-dms</value>
  </setting>
  <setting name="SchemaPrefix.DMS" serializeAs="String">
    <value>public</value>
  </setting>
  <setting name="SchemaPrefix.DMSPipeline" serializeAs="String">
    <value>sw</value>
  </setting>
  <setting name="SchemaPrefix.DMSCapture" serializeAs="String">
    <value>cap</value>
  </setting>
  <setting name="SchemaPrefix.DMSDataPackage" serializeAs="String">
    <value>dpkg</value>
  </setting>
  <setting name="SchemaPrefix.ManagerControl" serializeAs="String">
    <value>mc</value>
  </setting>
  <setting name="SchemaPrefix.ProteinCollection" serializeAs="String">
    <value>pc</value>
  </setting>
  <setting name="SchemaPrefix.Ontology" serializeAs="String">
    <value>ont</value>
  </setting>
</applicationSettings>
